* {
    margin: 0;
    padding: 0;
}
body{
    background: #8c7373;
}
.main {
    height: 200px;
    width: 200px;
    background: #000;
    border-radius: 50%;
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    left: -100px;
    top: -100px;
    transition: .3s;
    .icon {
        width: 200px;
        height: 200px;
        position: absolute;
        bottom: 0;
        right: 0;
        cursor: pointer;
        span {
            height: 5px;
            width: 30px;
            color: #fff;
            position: absolute;
            bottom: 30%;
            right: 25%;
            display: block;
            background: #fff;
            border-radius: 15%;
            transition: .5s;

            &:first-child {
                bottom: 35%;
            }

            &:nth-child(2) {
                bottom: 25%;
            }
        }
    }

}
.cross {
    span {
        transform: translateY(10px);

        &:first-child {
            background: none;
        }

        &:last-child {
            transform: rotate(45deg)translate(4px);
            transform-origin: bottom;
        }

        &:nth-child(2) {
            transform: rotate(-45deg)translate(10px);
            transform-origin: bottom;
        }
    }
}

.sub {
    height: 400px;
    width: 400px;
    background: #c0c0c0;
    z-index: -1;
    border-radius: 50%;
    position: absolute;
    top: -400px;
    left: -400px;
    transform: rotate(45deg);
    transition: .8s;
    // transform-origin: left top;
    ul{
    li {
        position: absolute;
        display: inline-block;
        transform: translateX(50%);
        font-size: 30px;
        cursor: pointer;
        &:first-child{
            top: 210px;
            right: 50px;
        }
        &:nth-child(2){
            top: 276px;
            right: 90px;
        }
        &:last-child{
            top: 330px;
            right: 170px;
        }
        i{
            &:hover{
                color: #540d0d;
            }
        }
    }
    &:nth-child(2){
        // transform: translateX(-199px) translateY(187px) rotate(-90deg);
        transform: translateX(-195px) translateY(194px) rotate(-90deg);
    }
}
}

.subRotate {
    transform: rotate(0deg);
    top: -200px;
    left: -200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.arrow{
    position: absolute;
    left: 230px;
    font-size: 25px;
    cursor: pointer;
}
.arrowSubRotate{
    transform: rotate(90deg);
    transform-origin: center;
}
.mainScale{
    left: -110px;
    top: -110px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}