/********************************************************************/
/* Created by Rimpal Prajapati
/********************************************************************/
* {
  margin: 0;
  padding: 0;
}

body {
  background: #8c7373;
}

.skMenuBar {
  height: 200px;
  width: 200px;
  background: #000;
  border-radius: 50%;
  z-index: 100;
  box-sizing: border-box;
  position: absolute;
  left: -100px;
  top: -100px;
  transition: .3s;
}

.skMenuBar .icon {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.skMenuBar .icon span {
  height: 5px;
  width: 30px;
  color: #fff;
  position: absolute;
  bottom: 30%;
  right: 25%;
  display: block;
  background: #fff;
  border-radius: 15%;
  transition: .5s;
}

.skMenuBar .icon span:first-child {
  bottom: 35%;
}

.skMenuBar .icon span:nth-child(2) {
  bottom: 25%;
}

.skCircular {
  height: 400px;
  width: 400px;
  background: #c0c0c0;
  z-index: -1;
  border-radius: 50%;
  position: absolute;
  top: -400px;
  left: -400px;
  transform: rotate(45deg);
  transition: .8s;
}

.skCircular ul li {
  position: absolute;
  display: inline-block;
  transform: translateX(50%);
  font-size: 30px;
  cursor: pointer;
}

.skCircular ul li:first-child {
  top: 210px;
  right: 50px;
}

.skCircular ul li:nth-child(2) {
  top: 276px;
  right: 90px;
}

.skCircular ul li:last-child {
  top: 330px;
  right: 170px;
}

.skCircular ul li i:hover {
  color: #540d0d;
}

.skCircular ul:nth-child(2) {
  transform: translateX(-195px) translateY(194px) rotate(-90deg);
}

.skArrow {
  position: absolute;
  left: 230px;
  font-size: 25px;
  cursor: pointer;
  opacity: 0;
  transition: 0.8s;
}

.mainwrapperscale .skCircular.arrowSubRotate {
  transform: rotate(90deg);
  transform-origin: center;
}

.mainwrapperscale .skMenuBar {
  left: -110px;
  top: -110px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mainwrapperscale .skMenuBar .icon span {
  transform: translateY(10px);
}

.mainwrapperscale .skMenuBar .icon span:first-child {
  background: none;
}

.mainwrapperscale .skMenuBar .icon span:last-child {
  transform: rotate(45deg) translate(4px);
  transform-origin: bottom;
}

.mainwrapperscale .skMenuBar .icon span:nth-child(2) {
  transform: rotate(-45deg) translate(10px);
  transform-origin: bottom;
}

.mainwrapperscale .skCircular {
  transform: rotate(0deg);
  top: -200px;
  left: -200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.mainwrapperscale .skArrow {
  opacity: 1;
}
