/********************************************************************/
/* Website Developed by : Blue Sombrero 							*/
/********************************************************************/
* {
  margin: 0;
  padding: 0;
}

.skMainWrapper .skBlock {
  position: absolute;
  top: 15%;
  left: 50%;
  height: 400px;
  width: 150px;
  transform: translateX(-50%);
  border-radius: 5px;
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  transition: 1s;
}

.skMainWrapper i {
  font-size: 80px;
  margin: 20px;
}

.skMainWrapper h3 {
  font-size: 20px;
}

.skMainWrapper .skSetting {
  background-color: #9400D3;
}

.skMainWrapper .skServices {
  background-color: #4B0082;
}

.skMainWrapper .skProducts {
  background-color: #0000FF;
}

.skMainWrapper .skLogout {
  background-color: #00FF00;
}

.skMainWrapper .skGallery {
  background-color: #FFFF00;
}

.skMainWrapper .skAbout {
  background-color: #FF7F00;
}

.skMainWrapper .skContact {
  background-color: #FF0000;
}

.skMainWrapper .skOpen {
  background-color: #5f5e5e;
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
  font-family: cambria;
  text-shadow: 0 0 15px #000;
  color: #fff;
}

.skMainWrapper .skOpen .skJoin {
  height: 20px;
  width: 20px;
  background: linear-gradient(#D3D3D3, #808080);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
}

.skSwipe .skBlock {
  transform-origin: bottom;
}

.skSwipe .skSetting {
  transform: rotate(60deg);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skSetting:hover {
  transform: rotate(70deg);
}

.skSwipe .skServices {
  transform: rotate(40deg);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skServices:hover {
  transform: rotate(50deg);
}

.skSwipe .skProducts {
  transform: rotate(20deg);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skProducts:hover {
  transform: rotate(30deg);
}

.skSwipe .skLogout {
  transform: rotate(0deg);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skLogout:hover {
  transform: rotate(10deg);
}

.skSwipe .skGallery {
  transform: rotate(-20deg);
  box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skGallery:hover {
  transform: rotate(-10deg);
}

.skSwipe .skAbout {
  transform: rotate(-40deg);
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skAbout:hover {
  transform: rotate(-30deg);
}

.skSwipe .skContact {
  transform: rotate(-60deg);
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.5);
}

.skSwipe .skContact:hover {
  transform: rotate(-50deg);
}

.skSwipe .skOpen {
  transform: rotate(-80deg);
  box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.5);
}
